.container{
    padding:10px !important;
    }
    img{
        height:auto;
        width:auto;
    }
    .container2{
        padding:10px !important;
    }
    .container3{
        padding:10px !important;
    }